.HomePage:link {
    text-decoration: none;
}

.HomePage{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold;

}

.page-title{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace; 
    position: relative;
    top: 10px;
    color: #3343ea;;
}

.page-title:link {
    text-decoration: none;

}