body {
    background-size: 1800px;
    background-color: #AAD1D6;

}
* {
    font-family: 'Manrope', sans-serif;
}
.GitHubRepoLink{
    position:absolute;
    bottom: 10px;
    right: 20px;
}

.EnterResumePage{
    text-align: center;
    position: relative;
    top: 230px;
    border-radius: 10px;
    font-size: 20px;
}
.ResumePage{
    color: #000000;
}


.ResumePage:link {
    text-decoration: none;
}
  
.DownloadsStats{
    position:relative;
    text-align: center;
    top: 190px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: #000000;
    
}

.downloads-stats {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


.NavBar h1{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    color: #FFF273;
    font-size: 50px;
    font-weight: bold;
}

.NavBar p{
    text-align: center;
}