body {
    background-size: 1800px;
    background-color: #ece8df;
    
}

.GitHubRepoLink{
    position:absolute;
    bottom: 10px;
    right: 20px;
}

.EnterResumePage{
    text-align: center;
    position: relative;
    top: 220px;
    border-radius: 10px;
    font-size: 1.5rem;
    border: 1px black solid;
    width: fit-content;
    font-style: normal;
    padding: 0.5rem;
    background-color: rgb(0, 0, 0);
}

.EnterResumePage:hover {
    background-color: #f5aaaa2c;
    color: black;
}
.ResumePage{
    color: #ffffff;
    font-family: 'Indie Flower', cursive;
    font-style: italic;
}

.ResumePage{
    text-align: center;
}
.ResumePage:link {
    text-decoration: none;
}
  
.DownloadsStats{
    position:relative;
    text-align: center;
    top: 190px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: #000000;
    
}

.downloads-stats {
    color: #3343ea;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


.NavBar h1{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    color: #3343ea;
    font-size: 50px;
    font-weight: bold;
}

.NavBar p{
    text-align: center;
}


.DivOfResumePage {
    display: flex;
    justify-content: center;
}