.Info label {
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 14px;

  }
.Info {
    border-radius: 10px;
}

.header {
      display: flex;
      justify-content:  center;
      position: relative;
}
      

.Info input {
    border-radius: 5px;
    border-width: 1px;
    border-style: groove;
    border-color: rgb(86, 82, 82);
    width:230px;
    height: 35px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.Info input:hover {
    background-color: rgb(211, 252, 252);
}

.header button {
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    border-width: 0ch;
    margin-left: 15px;
    margin-right: 50px;
    color: white;
    font-family: 'Raleway', sans-serif;
    position: relative;
    top: 26px;
    border-color: yellow;
    border-style: groove;
    border-width: 1px;
    height: 30px;
    padding: 5px

}


.btn {
    margin: 30px;
}
.btn button {
    border-radius: 15px;
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;

}
.btn button:hover {
    background-color: rgb(0, 255, 162);
}
.btn button {
    width: 180px;
    height: 40px;
    font-weight: bold;

}

.Info {
    position: relative;
    top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
    .Info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .Info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}